<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 用于生成SqlSession -->
<configuration>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
<!--            数据源配置-->
            <dataSource type="POOLED">      <!-- PooledDataSource 池化数据源 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://www.clcheng.asia:3306/test?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimeZone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="Ustb@701"/>
            </dataSource>
        </environment>
    </environments>

<!--    每个mapper.xml配置都需要在config.xml中注册，这样才能被mybatis找到-->
    <mappers>
        <mapper resource="com/example/mybatisdemo/mapper/TimeZoneMapper.xml"/>
    </mappers>
</configuration>