<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemospringmutildatasource.mapper.mysql.BMMSM21Mapper">

<!--    <resultMap id="BMMSM21Result" type="com.ruoyi.mes.domain.mes.BMMSM21">-->
<!--        <result property="recCreator" column="rec_creator"/>-->
<!--        <result property="recCreateTime" column="rec_create_time"/>-->
<!--    </resultMap>-->

<!--    1.获取mysql最新记录的时间；2.查询mes新更新的记录；3.写入新纪录到mysql-->


<!--    MysqL日期格式有5种，分别为： 1、“YYYY-MM-DD HH:MM:SS”格式；2、“YYYYMMDDHHMMSS”格式；3、 “YYYY-MM-DD”格式；4、“HH:MM:SS”格式；5、“YYYY”格式。-->
    <select id="selectBofProductionLastest" resultType="java.util.Date">
        select REC_CREATE_TIME from BOF_PRODUCTION order by REC_CREATE_TIME DESC limit 1
    </select>

    <select id="selectBMMSM21AfterDate" resultType="BMMSM21" parameterType="java.lang.String">
<!--         SELECT * FROM BMMSM21 where date_format(rec_create_time,'%y%m%d%H%i%s') > date_format(#{params.endTime},'%y%m%d%H%i%s') -->
        <!-- select * from BMMSM21 where REC_CREATE_TIME>'{((DateTime)myTime).ToString("yyyyMMddHHmmss")}' order by REC_CREATE_TIME -->
        select * from BMMSM21 where rec_create_time > #{date} order by rec_create_time ASC
    </select>

    <insert id="insertBofProduction" parameterType="BMMSM21">
        insert into BOF_PRODUCTION
            values (
                #{REC_CREATOR},
                #{REC_CREATE_TIME},
                #{REC_REVISOR},
                #{REC_REVISE_TIME},
                #{ARCHIVE_FLAG},
                #{TC_SEQ_NO},
                #{TC_NO},
                #{TC_PROC_FLAG},
                #{TC_TRANS_TIME},
                #{TC_PROC_TIME},
                #{TC_TRANS_FROM},
                #{PRACT_COLL_MODE},
                #{PROD_SHIFT_NO},
                #{PROD_SHIFT_GROUP},
                #{PROD_TIME},
                #{PROD_MAKER},
                #{PROD_SEQ_NO},
                #{SCHDL_SEQ_NO},
                #{PONO},
                #{ST_NO},
                #{HEAT_NO},
                #{BOF_NO},
                #{FURNACE_ERA},
                #{FURNACE_AGE},
                #{STEEL_HOLE_ERA},
                #{STEEL_HOLE_AGE},
                #{MAIL_LANCE_NO},
                #{MAIL_LANCE_AGE},
                #{FIT_LANCE_NO},
                #{FIT_LANCE_AGE},
                #{SMELT_DIV},
                #{LADLE_NO},
                #{EMPTY_LADLE_WT},
                #{IRON_LADLE_NO},
                #{IRON_TEMP_TIME},
                #{IRON_TEMP},
                #{OUT_STEEL_TEMP_TIME},
                #{OUT_STEEL_TEMP},
                #{ST_C},
                #{ST_P},
                #{ST_S},
                #{ST_O_XP},
                #{OUT_STEEL_WT},
                #{STEEL_NUM},
                #{REBLOW_NUM},
                #{SMELT_CYCLE},
                #{BLOW_TEMP_TIME},
                #{BLOW_TEMP},
                #{FIN_C},
                #{FIN_P},
                #{FIN_S},
                #{SMELT_MODE},
                #{LOAD_START_TIME},
                #{LOAD_END_TIME},
                #{BLOW_START_TIME1},
                #{BLOW_END_TIME1},
                #{BLOW_START_TIME2},
                #{BLOW_END_TIME2},
                #{BLOW_START_TIME3},
                #{BLOW_END_TIME3},
                #{BLOW_START_TIME4},
                #{BLOW_END_TIME4},
                #{TAP_START_TIME},
                #{TAP_END_TIME},
                #{SLAG_START_TIME1},
                #{SLAG_END_TIME1},
                #{SLAG_START_TIME2},
                #{SLAG_END_TIME2},
                #{MOLTIRON_WT},
                #{SCRAP_STEEL_WT},
                #{RAW_IRON_WT},
                #{RETURN_HEAT_NO},
                #{RETURN_STEEL_WT},
                #{O2_SUM_COMSUME},
                #{N_SUM_COMSUME},
                #{AR_SUM_COMSUME},
                #{BTTM_N_COMSUME},
                #{BTTM_AR_COMSUME},
                #{SLAG_N_COMSUME},
                #{STEAM_OCCUR_VOL},
                #{WATER_WT},
                #{CO_RETURN_WT},
                #{WAITING_TIME},
                #{WAIT_CAUSE},
                #{HEAT_ABNR_CODE_1},
                #{HEAT_ABNR_CODE_2},
                #{HEAT_ABNR_CODE_3},
                #{HEAT_ABNR_CODE_4},
                #{IRON_LTREAT_NO},
                #{TPD_NO},
                #{SLAG_NO},
                #{SMP_NAME},
                #{RMV_SLAG_START_TIME},
                #{RMV_SLAG_END_TIME},
                #{ENCASE_TIME},
                #{BLOW_TIME},
                #{KILL_TIME},
                #{STEEL_TIME},
                #{SPATTER_SLAG_TIME},
                #{REMOVE_SLAG_TIME},
                #{MNBL_O_VOL},
                #{REAL_ALO_YEILD_C},
                #{REAL_ALO_YEILD_SI},
                #{REAL_ALO_YEILD_MN},
                #{REAL_ALO_YEILD_AL},
                #{SCRAP_LOAD_TIME},
                #{IRON_LOAD_TIME},
                #{O2_LANCE_NO},
                #{O2_LANCE_NUM},
                #{SURE_FIT_LANCE_DETECTOR_TOTAL},
                #{UN_FIT_LANCE_DETECTOR_TOTAL},
                #{SMELT_TIME},
                #{RETURN_STEEL_SCHDL_SEQ_NO},
                #{PONO_NO},
                #{FUTUO},
                #{SIMNALLOY},
                #{SIFEALLOY},
                #{SIMN},
                #{SIFE},
                #{ALLOY1},
                #{BA},
                #{GXAL},
                #{VFE},
                #{VN},
                #{C},
                #{ALMN},
                #{BACASI},
                #{ALMNTI},
                #{MN_MED},
                #{MN_HIGH},
                #{LT_NUM},
                #{LT_TEMP},
                #{LT_DIA},
                #{COUNT_LT},
                #{BLOW_LOW},
                #{CONTROL_O},
                #{LD_DEEP},
                #{XPT_TEMP},
                #{MN_LOW},
                #{CR_LOW},
                #{FENB},
                #{FEP},
                #{CR_MED},
                #{COPPER},
                #{ALUMINIUM},
                #{NI_BAN},
                #{FEMO},
                #{CUNI},
                #{FENI},
                #{C_ADD},
                #{AL_ADD},
                #{SLAG_YR},
                #{LADLE_LIFE},
                #{HECHENG},
                #{DHFT},
                #{MN},
                #{LMT},
                #{ZNLG},
                #{ZJCG},
                #{ART},
                #{CMG},
                #{FEV},
                #{QSMG},
                #{GBWD},
                #{TSC_C},
                #{TSC_TEMP},
                #{TSO_C},
                #{TSO_TEMP},
                #{PJQK},
                #{TSO_SC},
                #{CXO},
                #{HB_NUM},
                #{NSK_NUM},
                #{SHUANCAO},
                #{SHUANGZHA},
                #{SICABA},
                #{HISIMIDMN},
                #{DYNA_ASC_1},
                #{DYNA_ASC_2},
                #{DYNA_ASC_3},
                #{DYNA_ASC_4},
                #{DYNA_ASC_5},
                #{DYNA_ASC_6},
                #{DYNA_ASC_7},
                #{DYNA_ASC_8},
                #{DYNA_ASC_9},
                #{DYNA_ASC_10},
                #{GBJG},
                #{TSO_DETECTOR},
                #{TSC_DETECTOR},
                #{CC_MACH_NO}
               )
    </insert>

</mapper>