<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisdemospringmutildatasource.mapper.mysql.TimeZoneMapper">
    <select id="selectTimeZoneList" resultType="com.example.mybatisdemospringmutildatasource.domain.TimeZone">
        select * from timezone
    </select>

    <select id="selectTimeZoneLast" resultType="com.example.mybatisdemospringmutildatasource.domain.TimeZone">
        select * from timezone order by id desc limit 1
    </select>

    <insert id="insertTimeZone" parameterType="TimeZone">
        insert into `timezone` values (#{id}, #{birthday}, #{A_B}, #{num})
    </insert>

    <insert id="insertTZ" parameterType="TZ">
        insert into `timezone` values (#{id}, #{birthday}, #{A_B}, #{num})
    </insert>
</mapper>